/* General Styling ---------------------------------- ---------------------------------------------- */

.col {
    margin: 0.1em;
    padding: 0;
}

/* TabNavigation Styling ----------------------------------------------------------------------------*/

.nav-tabs a {
    color: #ffc107;
}

.tab-header {
    padding-top: 4em;
    padding-bottom: 3em;
}

.tab-header h3 {
    color: red;
}


/* Search Modal Styling --------------------------------------------------------------------------- */

@media (min-width: 576px) {
    .modal-dialog {
      max-width: 90%;
    }
}
